<div class="form">
    <div class="title">NEW WORKER</div>
    <input type="text" placeholder="Firstname" [(ngModel)]="worker.firstName" appFocus #firstName="ngModel" required />
    <input type="text" placeholder="Lastname" [(ngModel)]="worker.lastName" #lastName="ngModel" required />
    <input type="text" placeholder="Email" [(ngModel)]="worker.email" #email="ngModel" required email />
    <input type="number" placeholder="Salary" [(ngModel)]="worker.salary" #salary="ngModel" required /> 
    <button [disabled]="firstName.invalid || lastName.invalid || email.invalid || salary.invalid" class="button_add_worker" (click)="createWorker()"> Add worker </button>
</div>


